<div class="text-center bg-light font-weight-normal pt-3">
  <a href="/topics/index">Chatty</a>
  <h2>chattyについて</h2>
</div>
<p>国際結婚についての掲示板です</p>

<%= render 'layouts/shim' %>
<%= render 'layouts/footer' %>
