<div class="text-center bg-light font-weight-normal pt-3">
  <a href=/topics>Chatty</a>
  <h4 class="pt-5">お問い合わせ</h4>
</div>
<ul>
  <li class="pt-5">email: gonnbe1106@yahoo.co.jp
  <li>

  <li>blog: https://nobuo1106.hatenablog.com</li>
</ul>

<%= render 'layouts/shim' %>
<%= render 'layouts/footer' %>
