<div class="title">
  <h2 class="text-center">
    Chatty
  </h2>
</div>
<div class="my-20">
  <p>let's talk about international marriage</p>
  <p>国際結婚についての掲示板<p>
      <div>

        <%= link_to "Enter", "topics/index" %>

      </div>
      <div>
        <a href="https://www.google.com/">Exit<a></div>
