<!DOCTYPE html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="sample.css" type="text/css">
    <body>
      <div class="top-body">
        <div class="enter my-20">
              <%= link_to image_tag('/enter.jpg'), topics_path %>
        </div>
            <div class="exit">
              <%= link_to image_tag('/exit.jpg'), :back %>
        </div>
      </div>
    </body>
  </head>
</html>
