// Custom bootstrap variables must be set or imported *before* bootstrap.
@imoort "bootstrap-sprockets";
@import "bootstrap";


/*universal*/
$max-width: 1080px !default;
$font-famiry-sans-serif: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$font-famiry-serif: "Hiragino Mincho ProN", "游明朝", "YuMincho", "HG明朝E", Meiryo, serif !default;

@media all and(min-width: 670px){
    .top-body
    { display: block; }
  }
@media all and(max-width: 1024px){
.top-body
    { display: block; }
}

.top-body{
    padding: 5px;
    margin:10px;
    background-image: url("/top.jpg");
    height:800px;
    background-size:cover;
    position: relative;
  }

.enter{
  position: absolute;
  top:700px;
  left: 600px;
}

.exit{
  position: absolute;
  top: 700px;
  left: 800px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
